.header {
  // border: 1px solid red;
  position: relative;

  &__container {
    position: relative;
    z-index: 100;
    margin: 0 auto;
    margin-top: 11.4rem;
    padding: 0 9vw;
    padding-bottom: 2rem;

    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 425px) {
      margin-top: 6.5rem;
    }
  }

  &__logo {
    position: relative;

    &--link {
      display: block;

      svg {
        height: 2.5rem;
        width: auto;
      }

      &-text {
        fill: $white;
        transition: fill 0.2s ease;

        &.onChange {
          fill: $brown;
        }
      }
    }
  }

  // &__buttons {
  // }
}
